

.Container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}


.ContainerImage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ContainerImage img {
  width: 50%;
}


.Content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 45%;
  height: 100vh;
  background-color: #1A8CD8;
  color: white;
}

.Content h1 {
  margin-bottom: 80px;
}


.Form {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 1.25rem;
}


.Button {
  display: flex;
  width: 100%;
  margin-top: 1.25rem;
  font-style: normal;
  font-size: 1.5rem;
  font-weight: 420;
  height: 3.875rem;
  border-radius: 0.625rem;
  background-color: #1A8CD8;
  color: white;

  min-height: 3.3125rem;
  align-items: center;
  justify-content: center;
  outline: none;
  line-height: 2.125rem;
  text-align: center;
  border: 0.0625rem solid ;
}

.Button:hover {
    filter: brightness(0.9);
}

